<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue练习9</title>
</head>
<body>
<div id="app" v-cloak></div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script>
    //子组件
    let CC={
        //使用props接收属性
        props:["post-title","sub-title"],
        template:`
            <div>{{postTitle}}-{{subTitle}}</div>
        `
    }

    //父组件
    let PC={
        data(){
            return{
                title:"我是父组件的title",
                subTitle:"我是父组件的subTitle"
            }
        },
        template:`
            <div>
              <CC :post-title="title" :sub-title="subTitle"></CC>
            </div>
        `,
        components:{
            CC
        }
    };

    new Vue({
        el:"#app",
        components:{
            PC
        },
        template:`
            <div>
                <PC></PC>
            </div>
        `
    })
</script>
</body>
</html>